

<h1>Welcome to sum function</h1>

<h3> a = @ViewBag.a </h3>

<h3> b = @ViewBag.b </h3>

<h2 style="background-color: bisque"> Result: @ViewBag.a + @ViewBag.b = @ViewBag.Sum </h2>

@{
    for (int i = 1; i <= 3; i++)
    {
        <p style="background-color:aqua"> -> @i</p>        
    }
}

<br/>

<h3  style="background-color: orangered">End function</h3>